<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

<bean class="com.learn.Spring.SpringProject2.Laptop" id="jk">
	
	
	<property name="srNo" value="342170"></property>
	<property name="brand" value="hp"></property>
	<property name="cost" value="50000"></property>


</bean>


</beans>